// alfareria
// main

.grid2 {
    display: grid;
    grid-template-areas: 
        "Atitulo Atitulo"
        "Aintro Aimg1"
        "Amate Aimg2"
        "Atec Aimg3"
        "Afyu Aimg4"
        "Aute Aimg5"
        "Acom Acom";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 220px 220px 320px 270px 295px 20px;
    row-gap: 15px;
    .Atitulo {
        grid-area: Atitulo;
        justify-self: center;
    }
    .Aintro {
        grid-area: Aintro;
    }
    .Amate {
        grid-area: Amate;
    }
    .Atec {
        grid-area: Atec;
    }
    .Afyu {
        grid-area: Afyu;
    }
    .Aute {
        grid-area: Aute;
    }
    .Acom {
        grid-area: Acom;
        justify-self: center;
    }
    .Aimg1 {
        grid-area: Aimg1;
    }
    .Aimg2 {
        grid-area: Aimg2;
    }
    .Aimg3 {
        grid-area: Aimg3;
    }
    .Aimg4 {
        grid-area: Aimg4;
    }
    .Aimg5 {
        grid-area: Aimg5;
    }
}


// media queries alfareria

@media screen and (max-width: 425px) {
    .grid2 {
        grid-template-areas:
        "Atitulo"
        "Aintro"
        "Amate"
        "Atec"
        "Afyu"
        "Aute";
        grid-template-columns: 100%;
        grid-template-rows: 30px 500px 420px 620px 550px 500px; 
    }
}
@media screen and (min-width: 425px) and (max-width: 729px) {
    .grid2 {
        grid-template-areas:
        "Atitulo"
        "Aintro"
        "Amate"
        "Atec"
        "Afyu"
        "Aute";
        grid-template-columns: 100%;
        grid-template-rows: 30px 350px 350px 500px 450px 500px; 
    }
}
@media screen and (min-width: 729px) and (max-width: 1441px) {
    .grid2 {
        grid-template-areas:
        "Atitulo"
        "Aintro"
        "Amate"
        "Atec"
        "Afyu"
        "Aute";
        grid-template-columns: 100%;
        grid-template-rows: 30px 250px 250px 350px 300px 400px; 
    }
}

@media screen and (max-width: 1441px) {
    .Aimg1, .Aimg2, .Aimg3, .Aimg4, .Aimg5, .Acom {
      display: none;
    }
}